<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="PT1_DB" connectionString="Server =.\SQLEXPRESS; Database = PT1_DB; Trusted_Connection = yes;"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="RelativesInfoService.Implementations.RelativesInfoService`1[[DomainModel.Concrete.ContextDB, DomainModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/RESTService/"/>
          </baseAddresses>
        </host>
        <endpoint address="" contract="RelativesInfoService.Contracts.IRelativesInfoService" binding="webHttpBinding" behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="True" automaticFormatSelectionEnabled="True"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
